.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.gitsecret/keys/random_seed
!*.secret
enc.swift
enc.fish
Sources/LowtechAppStore/Numbers.swift
